@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #191970;
}

.container {
    text-align: center;
    padding: 2rem 3rem;
    ;
    
}
h1{
    font-size: 5rem;
    font-weight: 500;
    color: #F0F8FF;
}
.form {
    
    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: 200;
    color: #F5F5DC;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 20px;
}

#length{
    width: 50px;
    padding: 5px 10px;
    font-size: 16px;
    
}

